#root {
  text-align: center;
  width: 100%;
}
.container {
  padding: 30px 50px;
  background-color: #9db0a7;
  box-shadow: 4px 4px 5px #0000001a;
  border-radius: 15px;

  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  gap: 5px;
}

.form input {
  height: 35px;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.3);
}

.formBtns {
  display: flex;
  gap: 8px;
}

.addBtn,
.udBtn {
  height: 40px;
  width: 100px;
  margin-top: 32%;

  color: #ffffff;
  background-color: #486966;
  font-size: 14px;
  font-weight: 700;
}

.addBtn:hover,
.udBtn:hover {
  background-color: #50827e;
}
.udBtn {
  background-color: #889c9b;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.deleteBtn {
  height: 40px;
  font-weight: 500;
  color: #ffffff;
  background-color: #bd2a2e;
}

.deleteBtn:hover {
  background-color: #ff1a1a;
}

.cardContainer {
  margin: 2rem;
  padding: 2em;
  width: 750px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.cardContainer table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
}
.cardContainer th {
  background-color: rgba(72, 105, 102);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
}
.cardContainer tbody {
  display: table-row-group;
}

.cardContainer td {
  color: #4e5b5a;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: 500;
}

.cardContainer tr {
  color: #4e5b5a;
  height: 50px;
  display: table-row;
}
