#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.form input {
  height: 30px;
}

.addBtn,
.udBtn {
  display: inline-block;
  margin-top: 32%;
  margin-left: 3px;

  color: #2b826b;
  background-color: #f6eee8;
}
.card {
  padding: 2em;
}
