#root {
  text-align: center;
  background-color: #f4f4f9;
  border-radius: 15px;
  box-shadow: 4px 4px 5px #0000001a;
}

.form {
  background-color: #fff;
  margin: 40px auto;
  padding: 20px;
  max-width: 1000px;

  display: flex;
  gap: 5px;
  justify-content: center;
}

.form input {
  height: 30px;
}

.formBtns {
  display: flex;
  gap: 3px;
}

.addBtn,
.udBtn {
  height: 40px;
  margin-top: 36%;

  color: #333;
  background-color: #fc0;
  font-size: 14px;
  font-weight: 700;
}

.card {
  padding: 2em;
}
